@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bgcolor: rgb(25 74 80);
    --nav-bg-color: rgb(12 36 49);
    --color: rgb(255 132 92);
    --other-color: rgb(216 162 140);
    --other-color-2: rgb(255 240 223);
    --secondary-color: rgb(255 212 88);

    --win-color: rgb(0 27 41);
    --win-color-br: rgb(0 41 62);
    --lose-color: rgb(48 3 3);
    --lose-color-br: rgb(68 0 0);
    --remake-color: rgb(20 20 20);
    --remake-color-br: rgb(32 32 32);
    --button-color: rgb(255 191 29);

    --player-color: rgb(175 90 0 / 1);

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--bgcolor);
    background-image: url('../static/images/Patterns/Black-6.webp');
    color: var(--color);
    font-family: Inter;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
}

/* HOME --------------------------------------------------------------------------------------------------------- */

.home-body {
    background-image: url('../static/images/lol-teemo.webp');
    background-size: 100% 100%;
    background-color: rgb(177 177 177);
    background-blend-mode: multiply;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.home-container{
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.home-logo {
    grid-column-start: 1;
    grid-column-end: 9;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.welcome-text{
    display: grid;
    align-items: end;
    color: var(--other-color-2);
}

.home-search{
    display: grid;
    align-items: baseline;
    padding-top: 0.5rem;
}

    .home-form{
        display: grid;
        grid-template-columns: 4rem 15rem 4rem;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

        .home-input-text {
            height: 2rem;
            width: 95%;
            border: 0.1rem solid;
            border-radius: 0.5rem;
            padding-left: 0.5rem;
            font-size: 0.85rem;
            font-weight: bold;
        }
            .home-form > input[type="text"]{
                color: var(--other-color-2);
                background: black;
                opacity: 0.75;
                outline: none;
            }
            .home-form > input[type="text"]:hover {
                background: black;
                opacity: 0.85;
            }
            .home-form > input[type="text"]:focus {
                background: black;
                opacity: 0.85;
            }

            .home-form > select{
                color: var(--other-color-2);
                background: var(--nav-bg-color);
                border: 0.1rem solid;
            }

        .home-select {
            height: 2rem;
            width: 95%;
            border-radius: 0.5rem;
            background-color: var(--nav-bg-color);
            color: var(--other-color-2);
            text-align: center;
            font-weight: bold;
            font-size: 0.85rem;
        }
            .home-select:hover {
                cursor: pointer;
                background-color: rgb(8 25 34);
            }

        .home-button {
            box-sizing: border-box;
            height: 2rem;
            width: 95%;
            border: 0.1rem;
            border-style: outset;
            border-radius: 0.5rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            background-color: var(--nav-bg-color);
            color: var(--other-color-2);
            font-size: 0.85rem;
            font-weight: bold;
        }
        .home-button:hover {
            cursor: pointer;
            background-color: rgb(8 25 34);
        }
        .home-button:active {
            cursor: pointer;
            border-style: inset;
            background-color: rgb(8 25 34);
        }

/* NAVBAR ------------------------------------------------------------------------------------------------------- */

nav {
    display: grid;
    grid-template-columns: 0.5rem repeat(6, 1fr) 0.5rem;
    grid-template-areas: "space logo nav nav nav search search";
    gap: 0.5rem;
    height: 3rem;
    min-height: 3rem;
    background-color: var(--nav-bg-color);
    font-weight: bolder;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    display: block;
    width: 100%;
    text-decoration: none;
}
nav a:visited {
    color: var(--color);
}
nav a:hover {
    color: var(--other-color-2);
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
    display: grid;
    justify-content: center;
    width: 100%;
}

.nav {
    grid-area: nav;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1rem;
    align-content: center;
    align-items: center;
    list-style: none;
}
    .nav li {
        text-align: center;
    }

.search {
    grid-area: search;
    justify-self: center;
    align-self: center;
}
    .search > form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

nav input[type="text"] {
    height: 1.2rem;
    margin: 0px 0.3rem;
    padding: 0.2rem 0.5rem;
    border: 0px;
    border-radius: 5px;
    width: 40%;
    background-color: var(--other-color-2);
}
    nav input[type="text"]:focus {
        outline: none;
    }

nav button {
    min-width: 2.5rem;
    padding: 0px 0.2rem;
    font-weight: bold;
    height: 1.3rem;
    border: none;
    border-radius: 0.15rem;
    background-color: var(--button-color);
}
nav button:hover {
    cursor: pointer;
    background-color: var(--color);
}
nav button:active {
    color: var(--other-color-2);
    background-color: var(--player-color);
}

.nav-select {
    height: 1.3rem;
    width: 3rem;
    max-width: max-content;
    margin-right: 0.3rem;
    border-radius: 0.15rem;
    background-color: var(--other-color-2);
    font-weight: bold;
}

/* Generic Stuff ------------------------------------------------------------------------------------------------ */

.player-highlight{
    background-color: var(--player-color) !important;
}

.text-shadow-default{
    text-shadow: 
        black 0.01rem 0.01rem,
        black 0.02rem 0.02rem,
        black 0.03rem 0.03rem,
        black 0.04rem 0.04rem,
        black 0.05rem 0.05rem,
        black 0.06rem 0.06rem,
        black 0.07rem 0.07rem,
        black 0.08rem 0.08rem,
        black 0.09rem 0.09rem,
        black 0.1rem 0.1rem,
        black 0.11rem 0.11rem,
        black 0.12rem 0.12rem,
        black 0.13rem 0.13rem,
        black 0.14rem 0.14rem,
        black 0.15rem 0.15rem;
}

.icon-default {
    justify-self: center;
    align-self: center;
    width: 100%;
    border-radius: 0.33rem;
}
    .icon-height{
        height: 100%;
    }

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.center{
    justify-self: center;
    align-self: center;
}
.justify-center{
    justify-self: center;
}
.justify-start{
    justify-self: start;
}
.justify-end{
    justify-self: end;
}
.align-center{
    align-self: center;
}
.align-baseline{
    align-self: baseline;
}
.align-end{
    align-self: end;
}

.padding-default{
    padding: 0.1rem;
}

/* -------------------------------------------------------------------------------------------------------------- */

.content {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "sidebar-left Main Main Main Main sidebar-right";
    max-height: min-content;
    font-size: 1rem;
    color: var(--other-color-2);
}

.main {
    grid-area: Main;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
}

/* -------------------------------------------------------------------------------------------------------------- */
.match {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.15fr;
    grid-template-areas:
        "match-data iconz stats players stats-button"
        "full-stats full-stats full-stats full-stats full-stats";
    width: 100%;
    max-width: 70rem;
    margin: 0.2rem;
    padding: 0.3rem;
    border: 0.15rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    overflow: auto;
}
    .match-child {
        overflow: auto;
        width: 100%;
        height: 100%;
    }
    .match-win {
        background-color: var(--win-color);
        border-color: var(--win-color-br);
    }
    .match-lose {
        background-color: var(--lose-color);
        border-color: var(--lose-color-br);
    }
    .match-remake {
        background-color: var(--remake-color);
        border-color: var(--remake-color-br);
    }
    .ward-icon{
        border-radius: 50%;
    }

    .match-info {
        grid-area: match-data;
        display: grid;
        justify-content: space-around;
        align-content: space-evenly;
    }

    .player-icon {
        grid-area: iconz;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 0.95fr 1fr 1fr 1fr;
        grid-template-areas:
            "picon picon spell runes p-kda p-kda p-kda"
            "picon picon spell runes p-kda p-kda p-kda"
            "items items items items items items items";
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        max-width: 15rem;
    }
        .player-icon-child {
            align-self: center;
            width: 95%;
        }
        .champion-image {
            grid-area: picon;
            display: grid;
            position: relative;
        }
            .in-game-level {
                position: absolute;
                bottom: 0px;
                right: 0px;
                border-top-left-radius: 0.33rem;
                padding: 0.15rem;
                font-size: 0.8rem;
                background-color: black;
                color: var(--other-color-2);
            }
        .summoner-spells-image {
            grid-area: spell;
            display: grid;
        }
            .summoner-spells-image-child {
                justify-self: center;
                width: 100%;
                padding: 0.1rem;
            }

        .runes-image{
            grid-area: runes;
            display: grid;
        }
            .runes-image-child{
                justify-self: center;
                width: 100%;
                padding: 0.1rem;
            }

        .items-image {
            grid-area: items;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            column-gap: 0.1rem;
            width: 100%;
        }
            .items-image-child {
                justify-self: center;
                align-self: center;
                width: 100%;
                padding: 0.1rem;
            }

        .kda {
            grid-area: p-kda;
            display: grid;
            justify-content: space-around;
            justify-items: center;
            font-size: 0.77rem;
        }
            .kda-child {
                justify-self: center;
            }
            .kda-full {
                align-self:end;
            }
            .kda-small {
                align-self:baseline;
            }
                
    .match-player-stats {
        grid-area: stats;
        display: grid;
        justify-content: center;
        align-content: space-evenly;
    }

    .participants {
        grid-area: players;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "team-blue team-red";
        width: 100%;
    }
    .player-link {
        text-decoration: none;
        color: var(--other-color-2);
    }
    .player-link:hover {
        text-decoration: underline;
    }
        .participants-child {
            justify-self: center;
            align-self: center;
            display: grid;
            grid-template-columns: 1fr 4fr;
            align-items: center;
            align-content: stretch;
            width: 100%;
            height: 100%;
        }
        .team-blue {
            grid-area: team-blue;
        }
        .team-red {
            grid-area: team-red;
        }
        .participant-icon {
            width: 80%;
        }
        .participant-name {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
                  
    .stats-button {
        grid-area: stats-button;
        justify-self: center;
        align-self: center;
        display: grid;
        justify-content: center;
        align-items: end;
        border: 0px none;
        border-radius: 0.5rem;
        font-size: 1rem;
        color: rgb(205 205 205);
    }
    .stats-button:hover {
        cursor: pointer;
        color: var(--other-color-2);
    }
    .stats-button-win {
        background-color: rgb(0 37 55);
    }
    .stats-button-win:hover {
        background-color: rgb(0 45 66);
    }
    .stats-button-lose {
        background-color: rgb(70 6 7);
    }
    .stats-button-lose:hover {
        background-color: rgb(80 6 7);
    }
    .stats-button-remake {
        background-color: rgb(34 34 34);
    }
    .stats-button-remake:hover {
        background-color: rgb(44 44 44);
    }
        
/* All Stats ---------------------------- */

.all-stats{
    grid-area: full-stats;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0.5rem;
    overflow: auto;
}
    .all-stats-child{
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .AS-stats-heading {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 2fr 3fr 4fr;
        justify-items: center;
        align-items: center;
        height: 1.5rem;
        background-color: black;
        border-radius: 0.3rem;
    }
    .AS-team-blue{
        background-color: var(--win-color);
    }
    .AS-team-red{
        background-color: var(--lose-color);
    }
    .AS-player-stats{
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 2fr 3fr 4fr;
        padding: 0.1rem;
        border: 0.1rem solid black;
        border-radius: 0.3rem;
    }
    .AS-player-stats + .AS-player-stats{
        border-top: 0px;
    }
        .AS-player-stats-child {
            display: grid;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: auto;
            text-align: center;
        }

        .AS-champ{
            display: grid;
            grid-template-columns: 2fr 1fr 0.95fr 6fr;
            grid-template-areas: 
                "champ spell rune name"
                "champ spell rune name";
            column-gap: 0.1rem;
        }
            .AS-champ-child {
                display: grid;
                width: 100%;
                height: 100%;
                overflow: auto;
                text-align: left;
            }
            .AS-champ-image {
                grid-area: champ;
                display: grid;
                justify-content: center;
                align-items: center;
            }
            .AS-spell-image {
                grid-area: spell;
                display: grid;
                justify-content: center;
                align-items: center;
                padding: 0.1rem;
            }
            .AS-rune-image {
                grid-area: rune;
                display: grid;
                justify-content: center;
                align-items: center;
                padding: 0.1rem;
            }
            .AS-player-name {
                grid-area: name;
                display: grid;
                align-items: center;
                padding-left: 0.3rem;
                font-size: 0.75rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        
        .AS-KDA{
            display: grid;
            justify-content: center;
            align-items: center;
        }
        
        .AS-CS{
            display: grid;
            justify-content: center;
            align-items: center;
        }
            
        .AS-vision{
            display: grid;
            grid-template-areas: 
                "Vision"
                "Wards";
            justify-content: center;
            align-items: center;
        }
            .AS-vision-child{
                text-align: center;
            }
            .AS-vision-score{
                grid-area: Vision;
            }
            .AS-vision-wards {
                grid-area: Wards;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        
        .AS-Damage{
            display: grid;
            justify-content: center;
            align-items: center;
        }
        
        .AS-items{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            column-gap: 0.1rem;
        }

/* -------------------------------------------------------------------------------------------------------------- */