{% extends "Layout.html" %}

{% block Content %}

<div class="content">
    {% for i in range(PAGE_INFO['len']) %}
        <div class="match">
            {% for player in Player_Details[i] %}
                {% if player['PlayerName'] == PAGE_INFO['Username'] %}
                    
                    <div class="match-child match-info">
                        <div class="match-info-child"><p>Game Mode: {{Match_Details[i]['GameMode']}}</p></div>
                        <div class="match-info-child"><p>Game Type: {{Match_Details[i]['GameType']}}</p></div>
                        <div class="match-info-child"><p>Duration: {{Match_Details[i]['GameTime']}}</p></div>
                    </div>

                    <div class="match-child player-icon">
                        <div class="player-icon-child champion-image">
                            <img class="icon-default" src = "{{ player['ChampionImage'] }}">
                        </div>
                        <div class="player-icon-child summoner-spells-image">
                            <img class="icon-default summoner-spells-child" src="{{ player['Summoner1']}}">
                            <img class="icon-default summoner-spells-child" src="{{ player['Summoner2']}}">
                        </div>
                        <div class="player-icon-child runes-image">
                            <img class="icon-default runes-image-child" src="{{player['Keystone']}}">
                            <img class="icon-default runes-image-child" src="{{player['SecondaryRune']}}">
                        </div>
                        <div class="player-icon-child items-image">
                                <img class="icon-default items-child" src = "{{ player['Item0']}}">
                                <img class="icon-default items-child" src = "{{ player['Item1']}}">
                                <img class="icon-default items-child" src = "{{ player['Item2']}}">
                                <img class="icon-default items-child" src = "{{ player['Item3']}}">
                                <img class="icon-default items-child" src = "{{ player['Item4']}}">
                                <img class="icon-default items-child" src = "{{ player['Item5']}}">
                                <img class="icon-default items-child" src = "{{ player['Item6']}}">
                        </div>
                        <div class="player-icon-child kda">
                            <div class="kda-child kda-full">
                                <p><b>{{player['Kills']}}/{{player['Deaths']}}/{{player['Assists']}}</b></p>
                            </div>
                            <div class="kda-child kda-small">
                                <p>{{player['KDA']}} KDA</p>
                            </div>    
                        </div>
                    </div>

                    <div class="match-child match-player-stats">
                        <div class="match-player-stats-child damage-dealt">
                            <p>Damage Dealt: {{player['DamageToChampions']}}</p>
                        </div>
                        <div class="match-player-stats-child damage-taken">
                            <p>Damage Taken: {{player['DamageTaken']}}</p>
                        </div>
                        <div class="match-player-stats-child creep-score">
                            CS: {{player['TotalMinionsKilled']}}
                            ({{player['CSPerMinute']}})
                        </div>
                        <div class="match-player-stats-child win-status">
                            {% if player['Win']%}
                            <p>Victory</p>
                            {% else %}
                            <p>Defeat</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="match-child participants">
                        <div class="participants-child match-participants-win">
                            {% for player in Player_Details[i] %}
                                {% if player['Win'] %}
                                    <div class="match-participants-win-child">
                                        <img src="{{player['ChampionImage']}}">
                                        <a href="/lol/{{PAGE_INFO['region']}}/{{player['PlayerName']}}">{{player['PlayerName']}}</a></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="participants-child match-participants-lose">
                            {% for player in Player_Details[i] %}
                                {% if player['Win'] == False %}
                                    <div class="match-participants-lose-child">
                                        <img src="{{player['ChampionImage']}}">
                                        <a href="/lol/{{PAGE_INFO['region']}}/{{player['PlayerName']}}">{{player['PlayerName']}}</a></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock Content %}