{% extends "Layout.html" %}

{% block Content %}

<div class="content">
    {% for i in range(len) %}
        <div class="match">
            {% for player in Player_Details[i] %}
                {% if player['Player Name'] == user %}
                    
                    <div class="match-child match-info">
                        <div class="match-info-child"><p>Game Mode: {{Match_Details[i]['Game Mode']}}</p></div>
                        <div class="match-info-child"><p>Game Type: {{Match_Details[i]['Game Type']}}</p></div>
                        <div class="match-info-child"><p>Duration: {{Match_Details[i]['Game Time']}}</p></div>
                    </div>

                    <div class="match-child player-icon">
                        <div class="player-icon-child champion-image">
                            <img class="icon-default" src = "{{ player['Champion Image'] }}">
                        </div>
                        <div class="player-icon-child summoner-spells">
                            <img class="icon-default summoner-spells-child" src="{{ player['summoner1']}}">
                            <img class="icon-default summoner-spells-child" src="{{ player['summoner2']}}">
                        </div>
                        <div class="player-icon-child runes">
                            <img class="icon-default keystone" src="{{player['keystone']}}">
                            <!-- <img class="icon-default secondaryStyle" src="{{player['secondaryStyle']}}"> -->
                        </div>
                        <div class="player-icon-child items">
                                <img class="icon-default items-child" src = "{{ player['item0']}}">
                                <img class="icon-default items-child" src = "{{ player['item1']}}">
                                <img class="icon-default items-child" src = "{{ player['item2']}}">
                                <img class="icon-default items-child" src = "{{ player['item3']}}">
                                <img class="icon-default items-child" src = "{{ player['item4']}}">
                                <img class="icon-default items-child" src = "{{ player['item5']}}">
                                <img class="icon-default items-child" src = "{{ player['item6']}}">
                        </div>
                        <div class="player-icon-child kda">
                            <div class="kda-child kda-full">
                                <p><b>{{player['Kills']}}/{{player['Deaths']}}/{{player['Assists']}}</b></p>
                            </div>
                            <div class="kda-child kda-small">
                                <p>{{player['KDA']}} KDA</p>
                            </div>    
                        </div>
                    </div>

                    <div class="match-child match-player-stats">
                        <div class="match-player-stats-child damage-dealt">
                            <p>Damage Dealt: {{player['Damage To Champions']}}</p>
                        </div>
                        <div class="match-player-stats-child damage-taken">
                            <p>Damage Taken: {{player['Damage Taken']}}</p>
                        </div>
                        <div class="match-player-stats-child creep-score">
                            CS: {{player['Total Minions Killed']}}
                            ({{player['CS Per Minute']}})
                        </div>
                        <div class="match-player-stats-child win-status">
                            {% if player['Win']%}
                            <p>Victory</p>
                            {% else %}
                            <p>Defeat</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="match-child participants">
                        <div class="participants-child match-participants-win">
                            {% for player in Player_Details[i] %}
                                {% if player['Win'] %}
                                    <div class="match-participants-win-child">{{player['Player Name']}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="participants-child match-participants-lose">
                            {% for player in Player_Details[i] %}
                                {% if player['Win'] == False %}
                                    <div class="match-participants-lose-child">{{player['Player Name']}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock Content %}